<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .green {color: green;}
      .red {color: red;}
      .green-border{border: 2px solid green;}
      .red-border{border: 2px solid red;}
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container">
     <h1>Lunch Checker</h1>
      <div ng-controller="LunchCheckController">
         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="menu" placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-class="border">
             (NOTE: empty items do not count)
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-model="button" ng-click="displayMessage();">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-model="message" ng-class="color">
           {{message}}
         </div>
      </div>
   </div>

</body>
</html>
